   <app-loader [loading]="isLoading"></app-loader>

 
 
 <mat-form-field appearance="fill" class="form-field" appHoverShadow>
    <mat-label>Search Country</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Type to search..." />
  </mat-form-field>


<form #formWrapper [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    
  <mat-form-field  class="form-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" appAutoFocus />
    <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field  class="form-field">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
      Enter a valid email
    </mat-error>
  </mat-form-field>

  <!-- Date Picker -->
<mat-form-field appearance="fill" class="form-field">
  <mat-label>Birth Date</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="birthDate" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="form.controls['birthDate'].invalid && form.controls['birthDate'].touched">
    Birth date is required
  </mat-error>
</mat-form-field>

<!-- Country Select -->
<mat-form-field appearance="fill" class="form-field">
  <mat-label>Country</mat-label>
  <mat-select formControlName="country">
   <mat-option *ngFor="let c of countries$ | async | sortBy: customCompare; let i = index" [value]="i">
  {{ c.name }}
</mat-option>
  </mat-select>
  <mat-error *ngIf="form.controls['country'].invalid && form.controls['country'].touched">
    Please select a country
  </mat-error>
</mat-form-field>

<!-- Agree to Terms Checkbox -->
<mat-checkbox formControlName="agreeToTerms">
  I agree to the terms and conditions
</mat-checkbox>
<mat-error *ngIf="form.controls['agreeToTerms'].invalid && form.controls['agreeToTerms'].touched">
  You must accept the terms
</mat-error>

  <app-tags-input formControlName="tags"></app-tags-input>

  <button mat-raised-button color="primary" type="submit" [disabled]="false">
    Submit
  </button>
</form>

<p>
  name touched: {{ form.controls['name'].touched }}<br/>
  name dirty: {{ form.controls['name'].dirty }}<br/>
  name valid: {{ form.controls['name'].valid }}
</p>
